@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@import "../styles/tokens.css";
@import "../styles/colors.css";
@import "../styles/button.css";
@import "../styles/typo.css";

body {
  background: var(--preview-background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: var(--preview-font-size);
  line-height: var(--preview-line-height);
}
