.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--button-gap);

  padding:
    var(--button-padding-y)
    var(--button-padding-x);

  border: 0;

  border-radius:
    var(--button-radius-tl)
    var(--button-radius-tr)
    var(--button-radius-br)
    var(--button-radius-bl);

  font-family: var(--font-sans);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  font-weight: var(--button-font-weight);

  cursor: pointer;
  transition:
    background-color 160ms ease,
    color 160ms ease;
}


/*Primary*/

.button--primary {
  background: var(--color-action-primary-background);
  color: var(--color-action-primary-label);
}

.button--primary:hover:not(:disabled) {
  background: var(--color-action-primary-hover);
}

.button--primary:active:not(:disabled) {
  background: var(--color-action-primary-active);
}


/*Secondary*/

.button--secondary {
  background: var(--color-action-secondary-background);
  color: var(--color-action-secondary-label);
}

.button--secondary:hover:not(:disabled) {
  background: var(--color-action-secondary-hover);
}

.button--secondary:active:not(:disabled) {
  background: var(--color-action-secondary-active);
}


/*Highlight*/

.button--highlight {
  background: var(--color-action-highlight-background);
  color: var(--color-action-highlight-label);
}

.button--highlight:hover:not(:disabled) {
  background: var(--color-action-highlight-hover);
  color: var(--color-action-highlight-label-inverse);
}

.button--highlight:active:not(:disabled) {
  background: var(--color-action-highlight-active);
  color: var(--color-action-highlight-label-inverse);
}


/* Disabled */

.button:disabled {
  background: var(--color-action-disabled-background);
  color: var(--color-action-disabled-label);
  cursor: not-allowed;
}

/* Focus */

.button:focus-visible {
  outline: 2px solid var(--color-border-focus);
  outline-offset: 2px;
}

.button__icon {
  display: inline-flex;
  flex-shrink: 0;
}

.button__icon svg {
  width: 1lh;
  height: 1lh;
}

.button--small {
  padding: 12px 24px;
  gap: 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 999px;
}
